/* TransactionListStyles.css */

.container5 {
  max-width: 100%;
  padding: 20px;
  border-radius: 5px;
  
}

.transaction-list {
  margin-top: 20px;
}

.transaction-list h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.transaction-list ul {
  list-style-type: none;
  padding: 0;
}

.transaction-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 10px; /* Add margin between list items */
}

.transaction-list span {
  margin-right: 10px;
}

.transaction-list span:first-child {
  flex: 0 0 20px;
  font-weight: bold;
  font-size: 24px;
}

.transaction-list .income {
  color: rgba(20, 255, 3, 1); /* Green text color for income */
}

.transaction-list .expense {
  color: rgba(222, 36, 2, 1); /* Red text color for expense */
}

.transaction-list .amount {
  font-weight: bold;
}

.transaction-list button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 12px;
}

.transaction-list button:hover {
  background-color: #c0392b;
}